* {
       margin: 0;
       padding: 0;
   }
   header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(103, 6, 53);
    color: rgb(255, 153, 204) 

}
h1,
h2,
h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
img {
    display: block;
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
  text-align: center;
  font-size: 30px;
}
.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
  }