* {
       margin: 0;
       padding: 0;
   }
   header,
footer {
    width: 100%;
    height: 150px;
    background-color: rgb(103, 6, 53);
    color: rgb(255, 153, 204) 
}

h1,
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
img {
    display: block;
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
    font-family: monospace;
}
p {
  text-align: center;
  font-size: 15px;
}
.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid chartreuse;
    box-shadow: 5px 10px rgb(103, 6, 53);
  }